@font-face {
    font-family: 'Abel';
    src: url('Abel-Regular.eot');
    src: url('Abel-Regular.eot?#iefix') format('embedded-opentype'),
        url('Abel-Regular.woff2') format('woff2'),
        url('Abel-Regular.woff') format('woff'),
        url('Abel-Regular.ttf') format('truetype'),
        url('Abel-Regular.svg#Abel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

