@font-face {
    font-family: 'Federal Service Laser';
    src: url('FederalServiceLaserItalic.eot');
    src: url('FederalServiceLaserItalic.eot?#iefix') format('embedded-opentype'),
        url('FederalServiceLaserItalic.woff2') format('woff2'),
        url('FederalServiceLaserItalic.woff') format('woff'),
        url('FederalServiceLaserItalic.ttf') format('truetype'),
        url('FederalServiceLaserItalic.svg#FederalServiceLaserItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

