@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype'),
        url('ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

