@font-face {
    font-family: 'Cloister';
    src: url('CloisterBlack-Light.eot');
    src: url('CloisterBlack-Light.eot?#iefix') format('embedded-opentype'),
        url('CloisterBlack-Light.woff2') format('woff2'),
        url('CloisterBlack-Light.woff') format('woff'),
        url('CloisterBlack-Light.ttf') format('truetype'),
        url('CloisterBlack-Light.svg#CloisterBlack-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

