@font-face {
    font-family: 'Federal Service';
    src: url('FederalServiceLight.eot');
    src: url('FederalServiceLight.eot?#iefix') format('embedded-opentype'),
        url('FederalServiceLight.woff2') format('woff2'),
        url('FederalServiceLight.woff') format('woff'),
        url('FederalServiceLight.ttf') format('truetype'),
        url('FederalServiceLight.svg#FederalServiceLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

