@font-face {
    font-family: 'Bendable BRK';
    src: url('BendableBRK.eot');
    src: url('BendableBRK.eot?#iefix') format('embedded-opentype'),
        url('BendableBRK.woff2') format('woff2'),
        url('BendableBRK.woff') format('woff'),
        url('BendableBRK.ttf') format('truetype'),
        url('BendableBRK.svg#BendableBRK') format('svg');
    font-weight: normal;
    font-style: normal;
}

