@font-face {
    font-family: 'Dunkin';
    src: url('Dunkin-BoldItalic.eot');
    src: url('Dunkin-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Dunkin-BoldItalic.woff2') format('woff2'),
        url('Dunkin-BoldItalic.woff') format('woff'),
        url('Dunkin-BoldItalic.ttf') format('truetype'),
        url('Dunkin-BoldItalic.svg#Dunkin-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

